<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoCurrency.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoCurrency.Properties.Settings>
            <setting name="login" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FIO" serializeAs="String">
                <value>F I O</value>
            </setting>
            <setting name="USDb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EURb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RUBb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="USDs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EURs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RUBs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="USDv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EURv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RUBv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BYNv" serializeAs="String">
                <value>0</value>
            </setting>
        </AutoCurrency.Properties.Settings>
    </userSettings>
</configuration>